<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Win_1337_Patch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Win_1337_Patch.Properties.Settings>
            <setting name="urlexe" serializeAs="String">
                <value/>
            </setting>
            <setting name="url1337" serializeAs="String">
                <value/>
            </setting>
            <setting name="fixoffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backup" serializeAs="String">
                <value>True</value>
            </setting>
        </Win_1337_Patch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
